.canvas {
	width: 662rpx;
	height: 1158rpx;
	margin: 0 auto;
}
.canvas1 {
	width: 662rpx;
	height: 158rpx;
	margin: 20rpx auto;
	border: 2rpx solid #ccc;
}
.img {
	display: block;
	width: 662rpx;
	height: 1158rpx;
	margin: 20rpx auto;
	transform: scale(1)
}